.content-about-us {
  position: relative;
  z-index: 1;
  .box {
    padding: 0;
    .spacing {
      height: 728px;
    }
    .row {
      overflow: hidden;
      .grid {
        float: left;
        position: relative;
        img {
          width: 200px;
          height: 200px;
          cursor: pointer;
        }
        .btn-mask {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 10;
          background-color: rgba(0, 0, 0, 0.6);
          width: 100%;
          height: 100%;
          .btn-play {
            position: relative;
            text-align: center;
          }
          .btn-play img {
            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }
}

@media(min-width: 768px) {
  .content-about-us {
    .box {
      min-height: 433px;
      background: #fff url('https://agnesha.github.io/nqx/assets/images/about-us/bg-aboutus-1440px.png') no-repeat center 0;
    }
  }
}
@media(min-width: 1024px) {
  .content-about-us {
    .box {
      min-height: 577px;
      background: #fff url('https://agnesha.github.io/nqx/assets/images/about-us/bg-aboutus-1024px.png') no-repeat center 0;
    }
  }
}
@media(min-width: 1200px) {
  .content-about-us {
    .box {
      min-height: 676px;
      background: #fff url('https://agnesha.github.io/nqx/assets/images/about-us/bg-aboutus-1200px.png') no-repeat center 0;
    }
  }
}
@media(min-width: 1400px) {
  .content-about-us {
    top: -145px;
    .box {
      min-height: 833px;
      background: #fff url('../images/about-us/bg-aboutus-1440px.png') no-repeat center 0;
    }
  }
}