$main-color: rgba(107, 203, 255, 1);
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
body {
  background-color: #f1f1f1;
}
body a {
  transition: .3s all ease;
}
.content .box {
  padding: 50px 30px;
  background-color: #fff;
}

/*Header*/
.header {
  position: absolute;
  z-index: 100;
  width: 100%;
  margin: 50px 0 0;

  .box {
    margin: 0 auto;
    padding: 0 50px;

    .wrap {
      padding: 20px;
      background-color: #fff;
    }

  }
  .logo {
    float: left;
    img {
      width: 152px;
      height: 55px;
    }
  }
  .nav {
    float: right;
    padding: 15px 0;
    li {
      position: relative;
      float: left;
      border-right: 1px solid rgb(193, 178, 177);
      &:last-child {
        border-right: none;
      }
      .ent {
        padding: 0 20px;
        &.hoon {
          .sj {
            display: inline-block;
            border: 5px solid transparent;
            border-top-color: $main-color;
          }
        }
      }
      a {
        position: relative;
        font-size: 16px;
        color: rgb(193, 178, 177);
        &:hover {
          color: $main-color;
        }
        .sj {
          position: absolute;
          top: 8px;
          right: 5px;
          width: 0;
          height: 0;
          border: 5px solid transparent;
          border-top-color: rgb(186,183,184);
        }
      }
      &.active {
        a {
          font-weight: bold;
          color: $main-color;
        }
      }
    }
    .link-group {
      position: absolute;
      left: -59px;
      display: none;
      width: 200px;
      padding-top: 6px;
      background-color: #fff;
      .link-item {
        overflow: hidden;
        width: 200px;
        border-bottom: 1px solid #dcdcdc;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
        &:last-child {
          border-bottom: 0;
        }
        &:hover {
          color: #fff;
        }
      }
      a {
        display: block;
        padding: 5px 10px;
        overflow: hidden;
        width: 200px;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
      }
      a:hover {
        background-color: $main-color;
        color: #fff;
      }
    }
    .language {
      a {
        position: relative;
        display: inline-block;
        margin: 0 20px;
        padding: 0 2px;
        border-radius: 3px;
        background-color: rgb(20, 144, 228);
        font-weight: bold;
        color: #fff;
        vertical-align: top;
      }
      .csj {
        position: absolute;
        left: 4px;
        top: 24px;
        z-index: 10;
        border: 5px solid rgb(20, 144, 228);
        border-top-width: 0px;
        border-right-color: transparent;
        border-bottom-color: transparent;
      }
    }
  }
}

/*Footer*/
.footer {
  .box {
    margin: 0 auto;
    background-color: #fff;
  }
  .row {
    display: flex;
    .col {
      flex: 1;
    }
  }
  .grow {
    display: flex;
    .grid {
      flex: 1;
    }
  }
  .office {
    display: flex;
    padding: 45px 90px;
    .logo {
      flex: 3;
      text-align: center;
      img {
        width: 131px;
        height: 188px;
        margin-top: 30px;
        vertical-align: top;
      }
    }
    .location {
      display: flex;
      flex: 9;
      .tit {
        height: 45px;
        font-weight: bold;
        font-size: 30px;
        color: rgba(107, 203, 255, 1);
        img {
          width: 30px;
          height: 30px;
          margin-left: 10px;
        }
      }
      .val {
        font-weight: normal;
        color: #A0A3AF;
        b {
          margin-right: 5px;
          font-weight: bold;
          color: #333;
        }
      }
      .map {
        margin-top: 10px;
        font-size: 14px;
        a {
          color: rgba(136, 136, 136, 1);
          .img {
            display: inline-block;
            width: 14px;
            height: 20px;
            margin-right: 10px;
            background: url('../images/location.png') no-repeat;
            vertical-align: top;
          }
          &:hover {
            color: $main-color;
            .img {
              background: url('../images/location-blue.png') no-repeat;
            }
          }
        }
      }
    }
    .us,
    .cn {
      flex: 1;
      margin: 0 20px;
    }
  }
  .concat {
    padding: 45px 20px 40px 90px;
    background: #033 url("../images/index/footer-bg.png") no-repeat center center;
    .grid-a {
      font-size: 32px;
      color: #fff;
    }
    .grid-b {
      padding-top: 25px;
    }
    .grid-b a {
      display: inline-block;
      width: 200px;
      height: 50px;
      padding-left: 30px;
      border-radius: 28px;
      vertical-align: top;
    }
    .grid-b {
      a {
        margin-right: 5px;
      }
      .twi {
        background-color: rgb(85,193,231);
      }
      .fa {
        background-color: rgb(96,158,233);
      }
      .go {
        background-color: rgb(255,85,85);
      }
      span {
        position: relative;
        top: 5px;
        display: inline-block;
        width: 30px;
        height: 30px;
      }
      i {
        position: relative;
        top: 0px;
        left: 15px;
        font-size: 20px;
        color: #fff;
      }
    }
    .btn-group-tfg {
      .icon-twi,
      .icon-fa,
      .icon-go {
        text-align: center;
        font-size: 30px;
        color: #fff;
      }
    }
  }
  .copyright {
    padding: 15px 20px 15px 100px;
    line-height: 45px;
    background-color: rgb(235, 236, 242);
    .col-a {
      font-size: 20px;
      color: #95A9B1;
    }
    .col-b span {
      margin-right: 20px;
      font-weight: bold;
      font-size: 28px;
      color: rgba(79, 83, 98, 1);
    }
  }
}

@media(min-width: 768px) {

  .header .box,
  .content .box,
  .footer .box {
    width: 768px
  }
  .footer .office {
    padding: 24px 48px;
  }
}

@media(min-width: 1024px) {

  .header .box,
  .content .box,
  .footer .box {
    width: 1024px
  }

  .footer .office {
    padding: 30px 60px;
  }
}

@media(min-width: 1200px) {

  .header .box,
  .content .box,
  .footer .box {
    width: 1200px
  }

  .footer .office {
    padding: 37px 75px;
  }
}

@media(min-width: 1440px) {

  .header .box,
  .content .box,
  .footer .box {
    width: 1440px
  }
}

/*表单留言*/
.content {
  .box {
    margin: 0 auto;
  }
  .grid-row{
    .msg-box {
      display: flex;
      padding: 50px 50px;
    }
    .pic,
    .form-cont {
      flex: 1;
    }
    .pic {
      max-height: 400px;
      border-radius: 4px;
      background: url('../images/contract/a.png') no-repeat;
      background-size: 100% 100%;
    }

    .form-cont {
      padding: 0 50px;
      .in-item {
        width: 100%;
      }
      input,
      textarea {
        width: 100%;
        height: 60px;
        margin-bottom: 20px;
        padding: 10px;
        border: 1px solid #D2D2D2;
        border-radius: 4px;
        font-size: 14px;
      }
      textarea {
        height: 100px;
        resize: none;
      }
      input[type='submit'] {
        padding: 17px 0;
        border: none;
        border-radius: 30px;
        background-color: rgb(109, 202, 255);
        font-weight: normal;
        font-size: 18px;
        color: #fff;
      }
    }
  }
}

// video mask
.video-mask-fake {
  display: none;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.3);
}
.video-mask {
  display: none;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 688px;
  left: 50%;
  margin-left: -338px;
  .video-bg {
    width: 688px;
    height: 387px;
    margin: 0 auto;
  }
}
// image mask
.img-mask-fake {
  display: none;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.3);
}
.img-mask {
  display: none;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 500px;
  left: 50%;
  margin-left: -250px;
  .img-bg {
    width: 500px;
    height: 850px;
    margin: 0 auto;
  }
}