@import "./var.scss";

.mask-content {
  .box {
    padding: 200px 30px 0;
    background: #fff url('https://gznqx.gitee.io/nqx/assets/images/product-bg.png') repeat-y;
  }
  .top {
    display: flex;
    .l-part {
      flex: 1;
      position: relative;
      min-width: 630px;
      .btn-group {
        position: absolute;
        bottom: 125px;
        left: 566px;
        clear: both;
        padding: 10px 0;
        text-align: center;
      }
      .btn-prev,
      .btn-next {
        width: 30px;
        height: 30px;
        font-size: 20px;
        cursor: pointer;
        color: $main-color;
      }
      .btn-prev {
        margin-bottom: 10px;
      }
      .pic-fold {
        float: left;
        &-list {
          position: relative;
          overflow: hidden;
          width: 173px;
          height: 439px;
        }
        ul {
          margin: 0 20px;
          transition: .7s margin;
        }
        li {
          position: relative;
          width: 133px;
          height: 133px;
          margin-bottom: 20px;
          border: 1px solid rgba(220,220, 220, 0.5);
          border-radius: 4px;
          text-align: center;
          &:last-child {
            margin-bottom: 0;
          }
          &.active {
            box-shadow: 5px 5px 10px rgba(107, 203, 255, 0.3);
          }
        }
        .img {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background-repeat: no-repeat;
          background-position: center;
          -webkit-background-size: cover;
          background-size: cover;
        }
      }
      .pic-glass {
        position: relative;
        overflow: hidden;
        float: left;
        width: 439px;
        height: 439px;
        background-color: rgba(255, 255, 255, 0.2);
        .pic-list {
          width: 439px;
          height: 439px;
        }
        .img-item {
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: rgba(255, 255, 255, 0.5);
          text-align: center;
          .big-img {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-repeat: no-repeat;
            background-position: center;
            -webkit-background-size: contain;
            background-size: contain;
          }
        }
      }
      .tag-btn {
        clear: both;
        width: 603px;
        padding-top: 20px;
      }
      .tag {
        float: left;
        padding-top: 10px;
        padding-left: 173px;
        img {
          width: 18px;
          height: 22px;
          margin-right: 10px;
        }
        span {
          margin-right: 10px;
        }
      }
      .btn-inquire {
        float: right;
        width: 171px;
        height: 43px;
        border-radius: 21px;
        line-height: 43px;
        background-image: linear-gradient(to right, rgb(28,139,227), rgb(8,194,239));
        text-align: center;
        font-size: 20px;
        color: #fff;
      }
    }
    .r-part {
      flex: 1;
      .info {
        margin-left: 40px;
      }
      h2 {
        font-size: 37px;
      }
      dl {
        margin-top: 20px;
      }
      dt {
        color: #999;
        .rec {
          position: relative;
          top: 2px;
          display: inline-block;
          width: 16px;
          height: 16px;
          margin-right: 10px;
          background-color: $main-color;
          vertical-align: top;
        }
      }
      dd {
        margin-bottom: 10px;
        text-indent: 26px;
        font-size: 16px;
        color: #343434;
      }
    }
  }
  .bottom {
    margin-top: 50px;
    .tabs {
      display: flex;
      width: 50%;
      margin: 0 auto;
      .tab-item {
        flex: 1;
        margin-right: 10px;
        padding: 10px 0;
        border: 1px solid #6BCBFF;
        border-bottom-color: transparent;
        background-color: #fff;
        text-align: center;
        font-size: 18px;
        color: #45ADFF;
        cursor: pointer;
        &:last-child {
          margin-right: 0;
        }
        &.active {
          border-color: transparent;
          background-color: #6BCBFF;
          color: #fff;
          cursor: default;
        }
      }
    }
    .content {
      display: flex;
      padding: 50px 70px 10px;
      background-color: #fff;
      dt {
        font-size: 56px;
        font-weight: bold;
        color: #6BCBFF;
      }
      dd {
        color: #888;
      }
      .l-part {
        margin-top: 100px;
      }
      .r-part {
        padding-left: 100px;
      }
      .concat a {
        color: #6BCBFF;
      }
      .item-img {
        margin-bottom: 20px;
        text-align: center;
        .name {
          padding: 10px 0;
          font-size: 20px;
          font-weight: bold;
          text-align: center;
        }
      }
      &.content-info {  
        .l-part {
          flex: 4;
        }
        .r-part {
          flex: 6;
          overflow: hidden;
          img {
            max-width: 648px;
          }
        }
      }
      &.content-instruction {
        display: none;
        .l-part {
          flex: 6;
          overflow: hidden;
          margin-top: 0;
          img {
            max-width: 648px;
          }
        }
        .r-part {
          flex: 4;
          margin-top: 100px;
        }
      }
      &.content-report {
        display: none;
        .l-part {
          flex: 4;
        }
        .r-part {
          flex: 6;
          overflow: hidden;
          img {
            max-width: 648px;
          }
        }
      }
    }
    .line {
      border-bottom: 1px solid $main-color;
    }
  }
}

// product-list-mask
.content-product-list {
  .box {
    padding: 200px 50px 0;
  }
  .grow {
    display: flex;
    background-color: #fff;
  }
  .grid {
    flex: 1;
    .product-show-list {
      li {
        margin-bottom: 30px;
        &:last-child {
          margin-bottom: 0;
        }
        .row-more {
          position: relative;
          .gcol {
            width: 66.66%;
            margin: 0 auto;
            text-align: center;
          }
          span {
            position: absolute;
            left: 50%;
            z-index: 10;
            bottom: 0px;
            display: inline-block;
            width: 30px;
            height: 30px;
            margin-left: -30px;
            font-size: 30px;
            font-weight: bold;
            color: rgb(68,168,234)
          }
        }
      }
    }
  }
}