.index-content {
  position: relative;
  z-index: 1; }

/*slide*/
.index-content {
  /*mask*/
  /*sgs*/
  /*factory*/
  /*honor*/
  /*news*/ }
  .index-content .box {
    margin: 0 auto;
    padding: 0; }
  .index-content .slide-top .slideBox {
    width: 100%;
    height: 810px;
    overflow: hidden;
    position: relative; }
  .index-content .slide-top .slideBox .hd {
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 1; }
  .index-content .slide-top .slideBox .hd ul {
    text-align: center; }
  .index-content .slide-top .slideBox .hd ul li {
    width: 80px;
    height: 36px;
    margin: 0 3px;
    display: inline-block;
    position: relative; }
  .index-content .slide-top .slideBox .hd ul li .dot {
    width: 80px;
    height: 4px;
    background-color: rgba(153, 153, 153, 0.4); }
  .index-content .slide-top .slideBox .hd ul li span {
    display: none;
    color: #fff;
    position: absolute;
    width: 100%;
    font-size: 14px;
    left: 0;
    top: 0;
    line-height: 36px;
    cursor: pointer; }
  .index-content .slide-top .slideBox .hd ul li.on .liner {
    width: 80px;
    height: 4px;
    animation: liner 2.5s;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #198cff, #8847c1); }
  .index-content .slide-top .slideBox .hd ul li:hover .dot {
    display: none; }
  .index-content .slide-top .slideBox .hd ul li:hover {
    width: 206px;
    height: 36px;
    transform: translateY(-50%);
    background: linear-gradient(90deg, #198cff, #8847c1);
    transition: all .1s ease; }
  .index-content .slide-top .slideBox .hd ul li:hover span {
    display: inline-block; }

@keyframes liner {
  from {
    width: 0; }
  to {
    width: 100%; } }
  .index-content .slide-top .slideBox .bd {
    width: 100%;
    position: relative;
    height: 810px;
    overflow: hidden; }
  .index-content .slide-top .slideBox .bd li {
    text-align: center; }
  .index-content .slide-top .slideBox .bd img {
    width: 1440px;
    height: 810px; }
  .index-content .slide-top .slideBox .bd:hover ~ .prev {
    display: block; }
  .index-content .slide-top .slideBox .bd:hover ~ .next {
    display: block; }
  .index-content .slide-top .slideBox .prev:hover {
    display: block; }
  .index-content .slide-top .slideBox .next:hover {
    display: block; }
  .index-content .slide-top .slideBox .prev {
    display: block;
    position: absolute;
    right: 13.3%;
    top: 88%;
    margin-top: -25px;
    width: 29px;
    height: 52px; }
  .index-content .slide-top .slideBox .next {
    display: block;
    position: absolute;
    right: 5.5%;
    top: 88%;
    margin-top: -25px;
    width: 64px;
    height: 64px; }
  .index-content .slide-top .prev span,
  .index-content .slide-top .next span {
    display: inline-block;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    line-height: 64px;
    background-color: #6bcbff;
    text-align: center;
    font-size: 30px;
    color: #fff; }
  .index-content .slide-top .slideBox .bd li.active {
    animation-name: ai-big-out;
    animation-duration: .3s;
    animation-timing-function: ease;
    animation-fill-mode: forwards; }

@keyframes ai-big-out {
  0% {
    z-index: 3;
    transform: scale(1.1);
    opacity: 1; }
  50% {
    transform: scale(1.2);
    opacity: .5; }
  to {
    transform: scale(1.3);
    opacity: 1; } }
  .index-content .slide-top .item-a {
    position: relative;
    top: -450px;
    z-index: 10; }
    .index-content .slide-top .item-a .tit {
      font-size: 44px;
      font-weight: bold;
      color: #fff; }
    .index-content .slide-top .item-a .desc {
      padding: 5px 0;
      background-color: #1588e2;
      background-image: linear-gradient(to right, #1588e2, #08c4ef);
      text-align: center; }
    .index-content .slide-top .item-a .year {
      font-size: 25px;
      color: #fff; }
    .index-content .slide-top .item-a .btn-group {
      width: 400px;
      margin: 30px auto 0;
      text-align: center; }
      .index-content .slide-top .item-a .btn-group a {
        display: inline-block;
        width: 250px;
        height: 70px;
        margin-bottom: 20px;
        border-radius: 35px;
        border: 3px solid rgba(9, 192, 239, 0.6);
        background-color: #6bcbff;
        line-height: 63px;
        font-size: 25px;
        color: #fff; }
      .index-content .slide-top .item-a .btn-group img {
        width: 37px;
        height: 37px;
        margin-right: 5px; }
  .index-content .grid-row {
    margin-top: 50px;
    padding: 0 50px; }
    .index-content .grid-row .title {
      position: relative;
      z-index: 100;
      padding: 0 100px; }
    .index-content .grid-row h2 {
      font-size: 100px;
      color: #4E4E4E; }
  .index-content .mask {
    margin-top: 50px; }
    .index-content .mask .current {
      display: flex; }
    .index-content .mask .l-part {
      flex: 1; }
      .index-content .mask .l-part .params {
        padding-left: 100px; }
      .index-content .mask .l-part .item {
        font-size: 18px; }
      .index-content .mask .l-part .tag {
        margin-top: 20px;
        padding-left: 100px; }
        .index-content .mask .l-part .tag img {
          width: 18px;
          height: 22px;
          margin-right: 10px; }
        .index-content .mask .l-part .tag span {
          margin-right: 10px; }
    .index-content .mask .r-part {
      flex: 3; }
    .index-content .mask .title {
      padding-right: 0; }
    .index-content .mask .big-img {
      display: inline-block;
      padding: 0 10px 10px;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
      vertical-align: top; }
      .index-content .mask .big-img img {
        width: 300px;
        height: 400px;
        vertical-align: top; }
    .index-content .mask .small-img {
      display: inline-block;
      vertical-align: top; }
      .index-content .mask .small-img img {
        width: 150px;
        height: 150px;
        margin-left: 10px;
        margin-bottom: 10px;
        border: 1px solid #efefef;
        border-radius: 4px;
        vertical-align: top; }
    .index-content .mask .btn-next {
      margin-left: 150px;
      font-size: 16px;
      color: #6BCBFF; }
      .index-content .mask .btn-next img {
        width: 29px;
        height: 23px;
        margin-left: 10px;
        border: none; }
    .index-content .mask .serial {
      overflow: hidden; }
      .index-content .mask .serial .wrapper > .container {
        height: 23rem; }
        .index-content .mask .serial .wrapper > .container li {
          padding: 20px;
          background-color: #fff;
          text-align: center;
          border-radius: 0;
          box-shadow: 2px 2px 10px rgba(181, 181, 181, 0.3); }
          .index-content .mask .serial .wrapper > .container li.cards-list {
            height: 23rem;
            margin-top: 0;
            margin-bottom: 0; }
      .index-content .mask .serial .mask-name {
        font-size: 32px;
        color: #222328; }
      .index-content .mask .serial .mask-loc {
        margin-bottom: 30px; }
      .index-content .mask .serial .params {
        font-size: 16px;
        color: #4F5362; }
      .index-content .mask .serial .item {
        margin-bottom: 5px; }
      .index-content .mask .serial .img {
        height: 7rem !important;
        text-align: center; }
        .index-content .mask .serial .img img {
          width: 100px;
          height: 100px;
          margin: 0 auto;
          border-radius: 50px;
          border: 1px solid #efefef; }
  .index-content .sgs {
    margin-top: 50px; }
    .index-content .sgs .cert-box .desc {
      margin-left: 100px;
      font-size: 40px;
      color: #4E4E4E; }
    .index-content .sgs .cert-box .file {
      width: 60%;
      margin-left: 100px;
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1); }
    .index-content .sgs .cert-box .link {
      width: 60%;
      margin-top: 10px;
      margin-left: 100px;
      text-align: right; }
      .index-content .sgs .cert-box .link a {
        font-size: 25px;
        color: #6BCBFF; }
      .index-content .sgs .cert-box .link img {
        width: 29px;
        height: 23px;
        margin-left: 10px; }
  .index-content .factory {
    position: relative;
    margin-top: 100px;
    padding-top: 50px; }
  .index-content .factory .video-bg {
    margin-top: -221px;
    height: 900px;
    background: url("../images/index/image_home_bgvideo-1440px.png") no-repeat center 0; }
  .index-content .factory .pic-show {
    padding: 30px; }
  .index-content .factory .pic-show .banner {
    height: 54px;
    line-height: 54px;
    font-size: 25px;
    color: #fff; }
  .index-content .factory .pic-show .chil {
    position: relative; }
  .index-content .factory .pic-show .col-a .banner {
    position: absolute;
    top: 30px; }
  .index-content .factory .pic-show .b1 {
    padding: 0 40px 0 20px;
    background: url("https://agnesha.github.io/nqx/assets/images/index/rect-yel.png") no-repeat; }
  .index-content .factory .pic-show .b2 {
    margin-bottom: 20px;
    background: url("https://agnesha.github.io/nqx/assets/images/index/rect-zi.png") no-repeat; }
  .index-content .factory .pic-show .b3 {
    margin-bottom: 20px;
    background: url("https://agnesha.github.io/nqx/assets/images/index/rect-green.png") no-repeat; }
  .index-content .factory .pic-show .b4 {
    margin-bottom: 20px;
    background: url("https://agnesha.github.io/nqx/assets/images/index/rect-red.png") no-repeat; }
  .index-content .factory .pic-show .b5 {
    padding: 0 30px 0 20px;
    background: url("https://agnesha.github.io/nqx/assets/images/index/rect-yel.png") no-repeat -100px 0; }
  .index-content .factory .pic-show .col-b .banner {
    text-align: center; }
  .index-content .factory .pic-show img {
    border-radius: 4px; }
  .index-content .factory .pic-show .fa {
    display: flex; }
  .index-content .factory .pic-show .chil {
    flex: 1; }
  .index-content .factory .pic-show .fa1 .col-a img {
    width: 100%; }
  .index-content .factory .pic-show .fa1 .col-b .chil {
    padding: 20px; }
  .index-content .factory .pic-show .fa1 .col-b img {
    width: 304px;
    height: 283px; }
  .index-content .factory .pic-show .fa4 .chil img {
    width: 196px;
    height: 283px; }
  .index-content .factory .pic-show .fa3 .col-a img {
    width: 100%; }
  .index-content .factory .video {
    position: absolute;
    top: 360px;
    left: 50px;
    width: 688px;
    height: 387px;
    border-radius: 15px;
    background-color: #fefefe; }
  .index-content .news {
    overflow: hidden; }

.backdrop-slider .scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(100, 100, 100, 0.4) transparent; }

.backdrop-slider .scrollbar::-webkit-scrollbar {
  width: .6rem; }

.backdrop-slider .scrollbar::-webkit-scrollbar-thumb {
  border-radius: .6rem;
  background-color: rgba(100, 100, 100, 0.4); }

.backdrop-slider .site {
  overflow: hidden; }

.backdrop-slider .wrapper {
  position: relative;
  margin-top: 50px; }

.backdrop-slider .wrapper > h3 {
  display: inline-block;
  padding: 0 1rem;
  margin-bottom: 2rem;
  border-radius: 1.4rem;
  background-color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
  color: #222; }

.backdrop-slider .wrapper > .container {
  position: relative;
  height: 27.8rem;
  margin: 0 auto;
  transform: translate3d(0, 0, 0); }

.backdrop-slider .container > .cards-list {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
  border-radius: .3125rem;
  background-color: rgba(241, 241, 241, 0.4);
  border-radius: 0.3125rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1); }

.backdrop-slider .wrapper.horizontal > .container {
  width: 75rem; }

.backdrop-slider .wrapper.vertical > .container {
  width: 40rem; }

.backdrop-slider .wrapper.horizontal .container .cards-list {
  width: 20rem;
  height: 24rem; }

.backdrop-slider .wrapper.horizontal .cards-list .img {
  height: 12rem; }

.backdrop-slider .wrapper.vertical .cards-list {
  display: flex;
  height: 15rem; }

.backdrop-slider .wrapper.vertical .cards-list .img,
.backdrop-slider .wrapper.vertical .cards-list .main-con {
  height: 100%; }

.backdrop-slider .wrapper.vertical .cards-list .img {
  width: 18rem; }

.backdrop-slider .wrapper.vertical .cards-list .main-con {
  width: 22rem; }

.backdrop-slider .cards-list > .img > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-user-drag: none;
  -moz-user-select: none;
  user-select: none; }

.backdrop-slider .cards-list > .main-con {
  padding: 0 1rem;
  box-sizing: border-box; }

.backdrop-slider .cards-list > .main-con .name {
  padding-top: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: #424242; }

.backdrop-slider .cards-list > .main-con .content {
  padding-top: 1rem;
  height: 4.5rem;
  font-size: .9rem;
  color: #777;
  text-align: justify;
  line-height: 1.4rem; }

.backdrop-slider .cards-list > .main-con .label {
  font-size: .9rem;
  color: #C6C8D1;
  padding: 1rem 0; }

.backdrop-slider .btn-direct {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  cursor: pointer;
  z-index: 100;
  transition: opacity ease 300ms; }

.backdrop-slider .wrapper:hover .btn-direct {
  opacity: .6; }

.backdrop-slider .btn-direct:hover {
  opacity: .9 !important; }

.backdrop-slider .btn-direct.btn-left {
  left: 6rem; }

.backdrop-slider .btn-direct.btn-right {
  right: 6rem; }

.backdrop-slider .btn-direct > span {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: .8rem;
  height: .8rem;
  margin: auto;
  border-top: .125rem solid #fff;
  border-left: .125rem solid #fff; }

.backdrop-slider .wrapper.horizontal .btn-direct > .shift-left {
  transform: translate(20%) rotate(-45deg); }

.backdrop-slider .wrapper.horizontal .btn-direct > .shift-right {
  transform: translate(-20%) rotate(135deg); }

.backdrop-slider .wrapper.vertical .btn-direct > .shift-left {
  transform: translateY(10%) rotate(45deg); }

.backdrop-slider .wrapper.vertical .btn-direct > .shift-right {
  transform: translateY(-10%) rotate(-135deg); }

.backdrop-slider .demo-honor.wrapper.horizontal .container .cards-list {
  width: 20rem;
  height: 27.8rem; }
  .backdrop-slider .demo-honor.wrapper.horizontal .container .cards-list .img {
    height: 27.8rem; }

.backdrop-slider .demo-news.wrapper.horizontal .container .cards-list {
  width: 20rem;
  height: 27.8rem; }
  .backdrop-slider .demo-news.wrapper.horizontal .container .cards-list .main-con {
    height: 27.8rem;
    padding: 3rem; }
    .backdrop-slider .demo-news.wrapper.horizontal .container .cards-list .main-con .name {
      padding-top: 0; }
    .backdrop-slider .demo-news.wrapper.horizontal .container .cards-list .main-con .bl {
      width: 50px;
      padding-top: 7px;
      border-bottom: 2px solid #4F5362; }

.backdrop-slider .wrapper.demo6 .container {
  width: 20rem;
  height: 24rem;
  overflow: hidden; }

@media (min-width: 768px) {
  .index-content .box .item-a .tit {
    font-size: 25px; }
  .footer .concat .col-b a {
    width: 106px;
    height: 30px;
    line-height: 30px; } }

@media (min-width: 1024px) {
  .index-content .box .item-a .tit {
    font-size: 31px; }
  .footer .concat .col-b a {
    width: 142px;
    height: 40px;
    line-height: 40px; } }

@media (min-width: 1200px) {
  .index-content .box .item-a .tit {
    font-size: 37px; }
  .footer .concat .col-b a {
    width: 165px;
    height: 47.5px;
    line-height: 47.5px; } }
