.mask-content .box {
  padding: 200px 30px 0;
  background: #fff url("https://gznqx.gitee.io/nqx/assets/images/product-bg.png") repeat-y; }

.mask-content .top {
  display: flex; }
  .mask-content .top .l-part {
    flex: 1;
    position: relative;
    min-width: 630px; }
    .mask-content .top .l-part .btn-group {
      position: absolute;
      bottom: 125px;
      left: 566px;
      clear: both;
      padding: 10px 0;
      text-align: center; }
    .mask-content .top .l-part .btn-prev,
    .mask-content .top .l-part .btn-next {
      width: 30px;
      height: 30px;
      font-size: 20px;
      cursor: pointer;
      color: #6bcbff; }
    .mask-content .top .l-part .btn-prev {
      margin-bottom: 10px; }
    .mask-content .top .l-part .pic-fold {
      float: left; }
      .mask-content .top .l-part .pic-fold-list {
        position: relative;
        overflow: hidden;
        width: 173px;
        height: 439px; }
      .mask-content .top .l-part .pic-fold ul {
        margin: 0 20px;
        transition: .7s margin; }
      .mask-content .top .l-part .pic-fold li {
        position: relative;
        width: 133px;
        height: 133px;
        margin-bottom: 20px;
        border: 1px solid rgba(220, 220, 220, 0.5);
        border-radius: 4px;
        text-align: center; }
        .mask-content .top .l-part .pic-fold li:last-child {
          margin-bottom: 0; }
        .mask-content .top .l-part .pic-fold li.active {
          box-shadow: 5px 5px 10px rgba(107, 203, 255, 0.3); }
      .mask-content .top .l-part .pic-fold .img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: cover;
        background-size: cover; }
    .mask-content .top .l-part .pic-glass {
      position: relative;
      overflow: hidden;
      float: left;
      width: 439px;
      height: 439px;
      background-color: rgba(255, 255, 255, 0.2); }
      .mask-content .top .l-part .pic-glass .pic-list {
        width: 439px;
        height: 439px; }
      .mask-content .top .l-part .pic-glass .img-item {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.5);
        text-align: center; }
        .mask-content .top .l-part .pic-glass .img-item .big-img {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background-repeat: no-repeat;
          background-position: center;
          -webkit-background-size: contain;
          background-size: contain; }
    .mask-content .top .l-part .tag-btn {
      clear: both;
      width: 603px;
      padding-top: 20px; }
    .mask-content .top .l-part .tag {
      float: left;
      padding-top: 10px;
      padding-left: 173px; }
      .mask-content .top .l-part .tag img {
        width: 18px;
        height: 22px;
        margin-right: 10px; }
      .mask-content .top .l-part .tag span {
        margin-right: 10px; }
    .mask-content .top .l-part .btn-inquire {
      float: right;
      width: 171px;
      height: 43px;
      border-radius: 21px;
      line-height: 43px;
      background-image: linear-gradient(to right, #1c8be3, #08c2ef);
      text-align: center;
      font-size: 20px;
      color: #fff; }
  .mask-content .top .r-part {
    flex: 1; }
    .mask-content .top .r-part .info {
      margin-left: 40px; }
    .mask-content .top .r-part h2 {
      font-size: 37px; }
    .mask-content .top .r-part dl {
      margin-top: 20px; }
    .mask-content .top .r-part dt {
      color: #999; }
      .mask-content .top .r-part dt .rec {
        position: relative;
        top: 2px;
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 10px;
        background-color: #6bcbff;
        vertical-align: top; }
    .mask-content .top .r-part dd {
      margin-bottom: 10px;
      text-indent: 26px;
      font-size: 16px;
      color: #343434; }

.mask-content .bottom {
  margin-top: 50px; }
  .mask-content .bottom .tabs {
    display: flex;
    width: 50%;
    margin: 0 auto; }
    .mask-content .bottom .tabs .tab-item {
      flex: 1;
      margin-right: 10px;
      padding: 10px 0;
      border: 1px solid #6BCBFF;
      border-bottom-color: transparent;
      background-color: #fff;
      text-align: center;
      font-size: 18px;
      color: #45ADFF;
      cursor: pointer; }
      .mask-content .bottom .tabs .tab-item:last-child {
        margin-right: 0; }
      .mask-content .bottom .tabs .tab-item.active {
        border-color: transparent;
        background-color: #6BCBFF;
        color: #fff;
        cursor: default; }
  .mask-content .bottom .content {
    display: flex;
    padding: 50px 70px 10px;
    background-color: #fff; }
    .mask-content .bottom .content dt {
      font-size: 56px;
      font-weight: bold;
      color: #6BCBFF; }
    .mask-content .bottom .content dd {
      color: #888; }
    .mask-content .bottom .content .l-part {
      margin-top: 100px; }
    .mask-content .bottom .content .r-part {
      padding-left: 100px; }
    .mask-content .bottom .content .concat a {
      color: #6BCBFF; }
    .mask-content .bottom .content .item-img {
      margin-bottom: 20px;
      text-align: center; }
      .mask-content .bottom .content .item-img .name {
        padding: 10px 0;
        font-size: 20px;
        font-weight: bold;
        text-align: center; }
    .mask-content .bottom .content.content-info .l-part {
      flex: 4; }
    .mask-content .bottom .content.content-info .r-part {
      flex: 6;
      overflow: hidden; }
      .mask-content .bottom .content.content-info .r-part img {
        max-width: 648px; }
    .mask-content .bottom .content.content-instruction {
      display: none; }
      .mask-content .bottom .content.content-instruction .l-part {
        flex: 6;
        overflow: hidden;
        margin-top: 0; }
        .mask-content .bottom .content.content-instruction .l-part img {
          max-width: 648px; }
      .mask-content .bottom .content.content-instruction .r-part {
        flex: 4;
        margin-top: 100px; }
    .mask-content .bottom .content.content-report {
      display: none; }
      .mask-content .bottom .content.content-report .l-part {
        flex: 4; }
      .mask-content .bottom .content.content-report .r-part {
        flex: 6;
        overflow: hidden; }
        .mask-content .bottom .content.content-report .r-part img {
          max-width: 648px; }
  .mask-content .bottom .line {
    border-bottom: 1px solid #6bcbff; }

.content-product-list .box {
  padding: 200px 50px 0; }

.content-product-list .grow {
  display: flex;
  background-color: #fff; }

.content-product-list .grid {
  flex: 1; }
  .content-product-list .grid .product-show-list li {
    margin-bottom: 30px; }
    .content-product-list .grid .product-show-list li:last-child {
      margin-bottom: 0; }
    .content-product-list .grid .product-show-list li .row-more {
      position: relative; }
      .content-product-list .grid .product-show-list li .row-more .gcol {
        width: 66.66%;
        margin: 0 auto;
        text-align: center; }
      .content-product-list .grid .product-show-list li .row-more span {
        position: absolute;
        left: 50%;
        z-index: 10;
        bottom: 0px;
        display: inline-block;
        width: 30px;
        height: 30px;
        margin-left: -30px;
        font-size: 30px;
        font-weight: bold;
        color: #44a8ea; }
